    .front{
        background-color: brown;
        background-image: url(web.jpg);
        background-size: cover;
        color: whitesmoke;
        padding: 1ch;
        border-radius: 50px;
        max-width: 100%;
        height: auto;
    }

    .text-front{
        margin-left: 100px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        -webkit-text-stroke: 1px goldenrod;
        max-width: 100%;
        height: auto;
       
    }

    .pages{
        padding: 5em;
        font-weight: bolder;
        -webkit-text-stroke: 1px red;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 28px;
    }

    .total{
        color: yellow;
        font-weight: bold;
        font-family: Arial;
        text-align: center;
        justify-content: center;
    }

    .menu{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    .menu a{
        text-decoration: none;
        font-size: 18px;
        color: black;
        font-weight: bold;
    }
    .menu a:hover {
    color:blue;
    }
    .bill{
        color: white;
        text-shadow: 0 0 10px red, 0 0 20px blue;
        font-size: 8vw;
        text-align: center;
        max-width: 100%;
        height: auto;
    }

    .main{
        max-width: 650px;
        background-color: whitesmoke;
        border-radius: 14px;
        padding: 1.88rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    }
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color:gainsboro;
        padding: 2rem; 
        font-size: 80%;
    }

    .image {
        width: 100%;
        height: auto;
        border-radius: 14px;
    }
    .about{
        font-size: 52px;
    }

    .Christain{
        font-size: 32px;
        color: blue;
    }

     .parag{
        font-size: 18px;
        width: 80%s;
        line-height: 1.6;
    }

    .search-bar{
        width: 300px;
         margin-right: 12px;
         background-color: white;
        border-color:blue;
        border-style: solid;
        border-width: 2px;
        color:black;
        border-radius: 5px;
        display: block;
    }

    .search{
       width: 300px;
         margin-right: 12px;
         background-color: white;
        border-color:blue;
        border-style: solid;
        border-width: 2px;
        color:black;
        border-radius: 5px;
        display: block; 
    }

    .sign-in{
        height: 36px;
        width: 300px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 12px;
        transition: opacity 0.15s;
        margin-left: 5px;
        padding-left: 18px;
        padding-right: 20px;
        border: none;
        background-color: rgb(118, 110, 110);
        color: white;
        display: block;
        margin-bottom: 12px;
    }

    .photo{
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;
        border-radius: 50%;
        margin-top: 40px;

    }

    .sign-in:hover{
         color: blue;
         animation: backwards;
    }

    .sign-in:active{
        animation:  3s infinite;
    }

    .cont-img{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border-radius: 50%;
    }

    @media (max-width: 320px) {
    img {
        width: 100%;
    }
    nav {
        display: block;
        text-align: center;
    }
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Makes layout fit all screen sizes */
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Images resize to screen */
img {
  width: 100%;
  height: auto;
}

/* Responsive sections */
.container {
  width: 100%;
  padding: 20px;
}

.time{
    max-width: 650px;
        background-color: whitesmoke;
        padding: 1.88rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

}
    


        

